.container {
    width: 600px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
}

.roomInfo {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.roomInfo h3 {
    color: var(--accent);
}

.roomInfo h1 {
    font-family: var(--poppins);
    font-weight: 800;
    font-size: 64px;
    margin: -12px 0px;
}

.roomUsers ol {
    margin-top: 8px;
    list-style-position: inside;
}

.roomUsers h3 {
    color: white;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 12px;
}

.buttons button {
    background-color: var(--accent);
    width: fit-content;
    border: none;
    padding: 4px 24px 6px 24px;
    font-size: medium;
    border-radius: 2px;
    cursor: pointer;
}

.buttons .primaryBtn:hover {
    background-color: var(--accent2);
}

.buttons .secondaryBtn {
    background-color: var(--primary);
    border: var(--accent) 1px solid;
}

.buttons .secondaryBtn:hover {
    background-color: var(--accent3);
}

.buttons .disabledBtn {
    background-color: var(--secondary);
    cursor: default;
}

.switch {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.switch h3 {
    font-weight: 400;
    font-size: medium;
    padding-bottom: 4px;
}

.switchButton {
    border: var(--accent) 1px solid;
    border-radius: 30px;
    overflow: hidden;
    width: 48px;
    text-align: center;
    font-size: smaller;
    letter-spacing: 1px;
    position: relative;
    padding: 2px 22px 2px 2px;
    position: relative;
  }
  .switchButton:before {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
  }
  .switchButtonCheckbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
  }
  .switchButtonCheckbox:checked + .switchButtonLabel:before {
    transform: translateX(19px);
    transition: transform 300ms;
  }
  .switchButtonCheckbox + .switchButtonLabel {
    position: relative;
    padding: 8px;
    display: block;
    user-select: none;
    pointer-events: none;
  }
  .switchButtonCheckbox + .switchButtonLabel:before {
    content: "";
    background: white;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 30px;
    transform: translateX(0);
    transition: transform 300ms;
  }
  .switchButtonCheckbox + .switchButtonLabel .switchButtonLabelSpan {
    position: relative;
  }